.page-container {
  width: 8.5in;
  height: 11in;
  position: relative;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.logo-container img {
  width: 116px;
  height: 118px;
}

.title-container {
  width: 100%;
  text-align: center;
}

.table-container .table {
  width: 100%;
}

.title-container h1 {
  font: bold 20px 'Helvetica';
  line-height: 24px;
  margin: 10px 0;
}
.table-container .table {
}

.table-container .table tr {
  height: 33px;
}

.table-container .table td {
  width: 50%;
  border: 1px solid #dddddd;
  font: 16px 'Helvetica';
  line-height: 18px;

  color: black;
  font-weight: bold;
  padding: 10px;
}

.footer {
  height: auto;
  width: 100%;
  bottom: 0;
  position: absolute;
  font: italic 11px 'Helvetica';
  line-height: 14px;
}
