.add-new-transaction {
  display: flex;
  align-items: center;
  text-align: center;
}

.add-new-transaction .icon {
  padding: 18px;
  border-radius: 100%;
  background: #53e69d;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.add-new-transaction p {
  cursor: pointer;
  margin-top: 13px;
  color: black;
}
.add-new-transaction p:hover {
  color: #2cabe3;
}
